.input {
  display: flex;
  input {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    margin-bottom: 10px;
    border: 0;
    border-bottom: 1px solid darken($color: #f7f8f8, $amount: 10);
    outline: none;
    transition: all 0.1s ease-in-out;
    flex: 1;
    &:focus {
      border-bottom: 1px solid#457b9d;
    }
  }

  button {
    height: 25px;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;

    &:hover {
      color: #457b9d;
    }
  }
}
