body {
  background-color: #f7f8f8;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.wrapper {
  width: 1080px;
}
