* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f8f8;
  overflow-x: hidden;

  font-family: "Roboto", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.wrapper {
  width: 800px;
}

@media (max-width: 450px) {
  .app {
    padding: 10px;
  }
}
